<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904777179639-2l8ilj13pt948927q78veuhrh9mbv1s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904777179639-2l8ilj13pt948927q78veuhrh9mbv1s5</string>
	<key>API_KEY</key>
	<string>AIzaSyAghZFRJNTowL3mXEUcHOtCSekjH6rII4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>904777179639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Agrisense</string>
	<key>PROJECT_ID</key>
	<string>agrisenseios</string>
	<key>STORAGE_BUCKET</key>
	<string>agrisenseios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904777179639:ios:f5bae98ecbb56f9ff70ef2</string>
</dict>
</plist>